{
    "token": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "owner": "XXXXXXXXXXXXXXXXXX",
    "managerRole": "XXXXXXXXXXXXXXXXXX",
    "helperRole": "XXXXXXXXXXXXXXXXXX",
    "guilds": [
        "XXXXXXXXXXXXXXXXXX",
        "XXXXXXXXXXXXXXXXXX"
    ]
}
